<div class="container" id="edit_registration">

  <div class="form py-5">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (#{@minimum_password_length} characters min)" %><br>
        <i>(leave blank if you don't want to change it)</i>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: :password_confirmation %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: :current_password %><br>
        <i>(we need your current password to confirm your changes)</i>
      </div>

      <div class="actions">
        <%= f.submit "Update", style: "border-radius: 20px;
                                                        border: 1px solid #FF4B2B;
                                                        background-color: #FF4B2B;
                                                        color: #FFFFFF;
                                                        font-size: 12px;
                                                        font-weight: bold;
                                                        padding: 12px 45px;
                                                        letter-spacing: 1px;
                                                        text-transform: uppercase;
                                                        transition: transform 80ms ease-in;" %>
      </div>
    <% end %>

    <h3 class="pt-3">Cancel my account</h3>

    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "mb-4", style: "border-radius: 20px;
                                    border: 1px solid red;
                                    background-color: red;
                                    color: #FFFFFF;
                                    font-size: 12px;
                                    font-weight: bold;
                                    padding: 12px 45px;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                    transition: transform 80ms ease-in;" %>

    <%= link_to "Back", :back, class: "back" %>

  </div>
</div>
