<summary>View all previous orders</summary>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Content</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
    <tr>
      <th scope="row"><%= order.id %></th>
        <td>
          <% order.items.each do |item| %>
            <ul>
              <li><%= item.title %>, <%= item.price %>€</li>
            </ul>
          <% end%>
        </td>
      <td><%= order.amount %>€</td>
      <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
