<summary>View all previous orders</summary>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Content</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
    <tr>
      <th scope="row"><%= order.order_id %></th>
        <td>
          
            <ul>
              <li><%= order.item.title %>, <%= order.item.price %>€</li>
            </ul>
          
        </td>
      <td><%= order.quantity %></td>
      <td><%= order.quantity * order.item.price %>€</td>
      <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
