<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Hello <%= @user.first_name %>!</h1>
  <p>You've just placed an order with The Kitten Project.</p>
  <p>We have received your payment of <%= number_to_currency(@order.amount, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>.</p>
  <p>Please find the picture(s) you bought below:</p>
  <br/>
  <% @order.cart.items.each do |item| %>
    <h3><%= item.title %></h3>
    <p><%= number_to_currency(item.price, unit: "€", separator: ",", delimiter: "", format: "%n %u") %></p>
    <br/>
    <%= image_tag item.image, alt: "image", style: "height:400px"%>
    <br/>
    <br/>
  <% end %>
</body>
</html>