<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Hello <%= @user.first_name %>!</h1>
  <p>You've just placed an order with The Kitten Project.</p>
  <p>We have received your payment of <%= number_to_currency(@order.amount, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>.</p>
  <p>Please find the picture(s) you bought below:</p>
  <br/>
  <% @order.cart.cart_items.each do |cart_item| %>
    <h3><%= cart_item.item.title %></h3>
    <p><%= number_to_currency(cart_item.item.price, unit: "€", separator: ",", delimiter: "", format: "%n %u") %></p>
    <p>Ordered <%= cart_item.quantity %> time(s)</p>
    <br/>
    <% cart_item.quantity.times do %>
      <%= image_tag attachments[cart_item.item.image.filename.to_s].url, :style => "height:400px" %>     
      <br/>
      <br/>
    <% end %>
  <% end %>
</body>
</html>