<%# a simple card with image, title and description %>
<div class="col-md-4 pb-4 d-flex justify-content-center">
  <div class="card text-white border-primary text-center" >
    <div class="card-header bg-primary"><%= item.title%></div>
    <img class="card-img-top" src="<%= item.image_url %>" alt="card-<%= item.title%>-image">
    <div class="card-body">
      <h4 class="card-title text-primary"><%= item.title%></h4>
      <p class="card-text text-secondary"><%= item.description%></p>
      <%= link_to "More about the item",item_path(item.id), class:"btn btn-primary"%>
      <% if user_signed_in?%>
        <%= form_tag url_for(item_path(item.id)), method: "patch" do %>
          <%= submit_tag "Add to cart", class:"btn btn-danger mt-3 "%>
        <% end %>
      <% else %>
        <%= link_to "Add to cart", new_user_registration_path, class: "btn btn-danger mt-3", method: "GET" %>
      <% end %>
    </div>
  </div>
</div>

