<% # a simple card with image, title and description %>
  <div class="card mx-3 my-3 text-white border-primary text-center <%= item.category_classes %>" style="width:300px" >
    <div class="card-header bg-primary"><%= item.title %></div>
    <% if item.image.attached? %>
      <%= image_tag item.image, alt: "image", class: "card-img-top" %>
    <% else %>  
      <img class="card-img-top" src="<%= item.image_url%>", alt="image", class= "card-img-top" >
    <% end %>
    <div class="card-body">
      <h4 class="card-title text-primary"><%= item.title %></h4>
      <p class="card-text text-secondary"><%= item.description %></p>
      <div class="py-3">
        <% item.categories.each do |category| %>
          <span class="badge badge-success group-<%= category.id %>"><%= category.label %></span>
        <% end %>
      </div>
      <%= link_to "More about the item", item_path(item.id), class: "btn btn-primary" %>
      <%= form_tag url_for(item_path(item.id)), method: "patch" do %>
        <%= submit_tag "Add to cart", class: "btn btn-danger mt-3 " %>
      <% end %>
    </div>
  </div>

