<div class="container pt-5 mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%= @item.title %></h2>
      <img src="<%= @item.image_url %>" class="card-img-top" alt="Image <%= @item.id %>">
      <p class="card-text"><%= @item.description %></p>
      <p class="card-text">Price: <%= @item.price %>€</p>
      <hr>
      <% if user_signed_in?%>
        <%= form_tag url_for(action: 'update'), method: "patch" do %>
          <%= submit_tag "Add to cart", class:"btn btn-danger mt-3 "%>
        <% end %>
      <% else %>
        <%= link_to "Add to cart", new_user_registration_path, class: "btn btn-danger mt-3", method: "GET" %>
      <% end %>
      <a href="#" class="btn btn-secondary">Return to list</a>
    </div>
  </div>
</div>
