<div class="container pt-5 mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%= @item.title %></h2>
      <%= image_tag @item.image, alt: "Image", class: "card-img-top" %>
      <div class="py-3">
        <% @item.categories.each do |category| %>
          <span class="badge badge-success"><%= category.label %></span>
        <% end %>
      </div>
      <p class="card-text"><%= @item.description %></p>
      <p class="card-text">Price: <%= @item.price %>€</p>
      <hr>
      <%= form_tag url_for(item_path(@item.id)), method: "patch" do %>
        <%= number_field_tag :quantity,1, min: 1, class: "form-control w-50 mx-auto" %>
        <%= submit_tag "Add to cart", class: "btn btn-danger mt-3 " %>
      <% end %>
      <button class= "btn btn-secondary" onclick="goBack()">Return to list</button>
    </div>
  </div>
</div>
