<div class="container pt-5 mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%= @item.title %></h2>
      <img src="<%= @item.image_url %>" class="card-img-top" alt="Image <%= @item.id %>">
      <p class="card-text"><%= @item.description %></p>
      <p class="card-text">Price: <%= @item.price %>€</p>
      <hr>
      <%= link_to "Add to cart", cart_path(@cart_item.id), method: :post, class: "nav-link" %>
      <a href="#" class="btn btn-secondary">Return to list</a>
    </div>
  </div>
</div>
