<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
      <%= link_to "The Kitten Project", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My profile", current_user, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign Up / Log in", user_session_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <%= render partial: "layouts/cart_navbar", locals: {cart: @current_cart} %>

          </li>
        </ul>
      </div>
    </div>
  </nav>
